.GenderButtonForm {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  .gender-label {
    position: relative;
    font-size: 0.7em;
    padding-left: 2%;
    font-family: Meiryo;
    font-style: normal;
    font-weight: bold;
    -webkit-text-stroke: 0.3rem #583225;
    .futidori {
      color: #f9f4fc;
      -webkit-text-stroke: 0;
      position: absolute;
    }
  }

  .select-gender-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 0.7em;
    .RadioButton-wrapp {
      margin-right: 5%;
    }
  }
  .input-form-errorMsg {
    padding-top: 0.5%;
    width: 100%;
    font-size: 0.5em;
  }
}
