.select-gender-wrap {
  display: flex;
}

.gender-select-btn {
  background-color: transparent;
  -webkit-text-stroke: 2px #583225;
  margin-right: 5%;
}

.selectedButton {
  background-color: #7e262b;
  color: #fff;
}

.gender-label {
  position: relative;

  font-family: Meiryo;
  font-size: 2rem;
  font-style: normal;
  font-weight: bold;
  -webkit-text-stroke: 6px #583225;
  .futidori {
    color: #f9f4fc;
    -webkit-text-stroke: 0;
    position: absolute;
  }
}
