.HomePateTmp_wrapp {
  background-color: #fbd13d;
  width: 100vw;
  .employee_attend_wrapp {
    display: grid;
    height: 100vh;
    grid-template-rows: 15% 85%;
    .attendance_operation {
      display: grid;
      width: 100%;
      grid-template-columns: 45% 55%;
      .left_column {
        display: grid;
        height: 100%;
        grid-template-rows: 45% 55%;
        .payd_info_wrapp {
          width: 100%;
          padding: 2% 2%;
          .section_box {
            height: 100%;
            width: 100%;
            border: #583225 0.5rem solid;
            border-radius: 0.5rem;
            .title {
              display: flex;
              justify-content: center;
              text-align: center;
              background-color: #7e262b;
              font-size: 1.1rem;
              border-bottom: 0.3rem solid #583225;
              width: 100%;
              height: 20%;
            }
            .body {
              display: grid;
              grid-template-rows: repeat(2, 1fr);
              width: 100%;
              height: 80%;
              .body_content {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                text-align: center;
                font-size: 1rem;
                .top_content {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-right: 0.3rem solid #583225;
                  border-bottom: 0.2rem solid #583225;
                  .img_wrapp {
                    height: 100%;
                    width: 100%;
                    background-image: url("/public/navigation/space.png");
                    background-size: 70% 80%;
                    background-position: center;
                    background-repeat: no-repeat;
                  }
                }
                .top_content:last-child {
                  border-right: none;
                }
                .under_content {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-right: 0.3rem solid #583225;
                  border-top: 0.2rem solid #583225;
                }
                .under_content:last-child {
                  border-right: none;
                }
              }
            }
          }
        }
        .now_time_info_wrapp {
          height: 100%;
          width: 100%;
          display: grid;
          grid-template-columns: repeat(100, 1%);
          grid-template-rows: repeat(100, 1%);
          overflow: hidden;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: url("/navigation/nowTime.png");
            background-size: 90% 100%;
            background-position: center;
            background-repeat: no-repeat;
          }
          .time_now {
            grid-row: 34/94;
            grid-column: 51/93;
            display: grid;
            grid-template-rows: 32% 33% 33%;
            .top {
              display: flex;
              text-align: center;
              justify-content: center;
              font-size: 1.2rem;
              background-color: #7e262b;
              border-bottom: 0.3rem solid #583225;
            }
            .center {
              display: grid;
              text-align: center;
              align-items: center;
              font-size: 0.9rem;
              border-bottom: 0.3rem solid #583225;
            }
            .under {
              background-color: #faf9a6;
              display: grid;
              text-align: center;
              align-items: center;
              font-size: 1rem;
            }
          }
        }
      }
      .right_column {
        padding: 1.6% 2%;
        .attend_stanp_operation {
          display: grid;
          grid-template-rows: 10% 90%;
          width: 100%;
          height: 100%;
          border: #583225 0.5rem solid;
          border-radius: 0.5rem;
          .title {
            display: flex;
            justify-content: center;
            text-align: center;
            background-color: #7e262b;
            font-size: 1.1rem;
            border-bottom: 0.3rem solid #583225;
            width: 100%;
          }
          .body {
            width: 100%;
            display: grid;
            grid-template-rows: 35% 35% 30%;
            .content {
              display: grid;
              grid-template-columns: repeat(2, 50%);
              height: 100%;
              border-bottom: #583225 0.5rem solid;
              &:last-child {
                border-bottom: none;
              }
              .left {
                display: grid;
                grid-template-columns: repeat(2, 50%);
                align-items: center;
                justify-items: center;
                border-right: #583225 0.25rem solid;
                .button {
                  font-size: 1.5rem;
                  padding: 10%;
                  height: 100%;
                  width: 100%;
                }
                .left_img {
                  width: 100%;
                  height: 100%;
                  background-image: url("/public/homepage/attendance_img1.png");
                  background-size: 100% 75%;
                  background-position: center;
                  background-repeat: no-repeat;
                }
                .right_img {
                  width: 100%;
                  height: 100%;
                  background-image: url("/public/homepage/attendance_img2.png");
                  background-size: 85% 75%;
                  background-position: center;
                  background-repeat: no-repeat;
                }
              }
              .right {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0.5rem;
                .stanpTime_wrapp {
                  display: flex;
                  align-items: center;
                  text-align: center;
                  width: 80%;
                  height: 85%;
                }
              }
            }
            .body_approvalbutton_wrapp {
              display: grid;
              grid-template-columns: 30% 40% 30%;
              justify-items: center;
              align-items: center;
              .approvalbutton {
                height: 75%;
                width: 100%;
                font-size: 2rem;
              }
              .approvalbutton_left_Img {
                width: 100%;
                height: 100%;
                background-image: url("/public/homepage/applovar_left.png");
                background-size: 70% 100%;
                background-position: center;
                background-repeat: no-repeat;
              }
              .approvalbutton_right_Img {
                width: 100%;
                height: 100%;
                background-image: url("/public/homepage/applovar_right.png");
                background-size: 50% 100%;
                background-position: center;
                background-repeat: no-repeat;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .HomePateTmp_wrapp {
    .employee_attend_wrapp {
      .attendance_operation {
        .left_column {
          .payd_info_wrapp {
            .section_box {
              border: #583225 0.3rem solid;
              .title {
                font-size: 1.5rem;
              }
              .body {
                .body_content {
                  font-size: 1.1rem;
                  .top_content {
                    border-right: 0.3rem solid #583225;
                    border-bottom: 0.1rem solid #583225;
                  }
                }
              }
            }
          }
          .now_time_info_wrapp {
            &::after {
              background-size: 100% 100%;
            }
            .time_now {
              grid-column: 51/98;
              .top {
                font-size: 1.8rem;
              }
              .center {
                font-size: 1rem;
              }
              .under {
                font-size: 1.4rem;
              }
            }
          }
        }
        .right_column {
          .attend_stanp_operation {
            border: #583225 0.3rem solid;
            .title {
              font-size: 2rem;
            }
            .body {
              .content {
                border-bottom: #583225 0.3rem solid;
                .left {
                  .button {
                    font-size: 2rem;
                    padding: 20% 10%;
                  }
                }
                .right {
                  font-size: 0.8rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .HomePateTmp_wrapp {
    .employee_attend_wrapp {
      .attendance_operation {
        .left_column {
          .payd_info_wrapp {
            .section_box {
              border: #583225 0.2rem solid;
              .title {
                font-size: 1.2rem;
              }
              .body {
                .body_content {
                  font-size: 0.9rem;
                  .top_content {
                    border-right: 0.3rem solid #583225;
                    border-bottom: 0.1rem solid #583225;
                  }
                }
              }
            }
          }
          .now_time_info_wrapp {
            &::after {
              background-size: 100% 100%;
            }
            .time_now {
              grid-column: 51/98;
              .top {
                font-size: 1.5rem;
              }
              .center {
                font-size: 0.8rem;
              }
              .under {
                font-size: 1rem;
              }
            }
          }
        }
        .right_column {
          .attend_stanp_operation {
            border: #583225 0.2rem solid;
            .title {
              font-size: 1.5rem;
            }
            .body {
              .content {
                border-bottom: #583225 0.2rem solid;
                .left {
                  .button {
                    font-size: 1.5rem;
                    padding: 20% 10%;
                  }
                }
                .right {
                  font-size: 0.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .HomePateTmp_wrapp {
    .employee_attend_wrapp {
      display: block;
      height: auto;
      .attendance_operation {
        display: block;
        .left_column {
          display: block;
          height: auto;
          .payd_info_wrapp {
            margin-top: 5%;
            height: 100%;
            .section_box {
              border: #583225 0.5rem solid;
              height: 100%;
              .title {
                font-size: 3em;
              }
              .body {
                height: 20vh;
                .body_content {
                  font-size: 2rem;
                  .top_content {
                    border-top: 0.5rem solid #583225;
                    border-right: 0.5rem solid #583225;
                  }
                  .top_content:last-child {
                    border-right: none;
                  }
                  .under_content {
                    border-right: 0.5rem solid #583225;
                    border-top: 0.5rem solid #583225;
                  }
                  .under_content:last-child {
                    border-right: none;
                  }
                }
              }
            }
          }
          .now_time_info_wrapp {
            margin-top: 5%;
            height: 30vh;
            .time_now {
              .top {
                font-size: 2.5em;
              }
              .center {
                font-size: 2em;
              }
              .under {
                font-size: 2.5em;
              }
            }
          }
        }
        .right_column {
          margin-top: 5%;
          .attend_stanp_operation {
            height: 50vh;
            border: #583225 0.5rem solid;
            .title {
              display: grid;
              font-size: 3rem;
              border-bottom: 0.3rem solid #583225;
            }
            .body {
              .content {
                border-bottom: #583225 0.5rem solid;
                .left {
                  .button {
                    font-size: 3em;
                    padding: 20% 15%;
                  }
                }
                .right {
                  font-size: 1em;
                }
              }
              .body_approvalbutton_wrapp {
                .approvalbutton {
                  font-size: 3em;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .HomePateTmp_wrapp {
    .employee_attend_wrapp {
      display: block;
      height: auto;
      .attendance_operation {
        display: block;
        .left_column {
          display: block;
          height: auto;
          .payd_info_wrapp {
            margin-top: 5%;
            height: 100%;
            .section_box {
              border: #583225 0.5rem solid;
              height: 100%;
              .title {
                font-size: 3em;
              }
              .body {
                height: 20vh;
                .body_content {
                  font-size: 1.5rem;
                  .top_content {
                    border-top: 0.5rem solid #583225;
                    border-right: 0.5rem solid #583225;
                  }
                  .top_content:last-child {
                    border-right: none;
                  }
                  .under_content {
                    border-right: 0.5rem solid #583225;
                    border-top: 0.5rem solid #583225;
                  }
                  .under_content:last-child {
                    border-right: none;
                  }
                }
              }
            }
          }
          .now_time_info_wrapp {
            margin-top: 5%;
            height: 30vh;
            .time_now {
              .top {
                font-size: 2em;
              }
              .center {
                font-size: 1.4em;
              }
              .under {
                font-size: 2em;
              }
            }
          }
        }
        .right_column {
          margin-top: 5%;
          .attend_stanp_operation {
            height: 50vh;
            border: #583225 0.5rem solid;
            .title {
              display: grid;
              font-size: 3rem;
              border-bottom: 0.3rem solid #583225;
            }
            .body {
              .content {
                border-bottom: #583225 0.5rem solid;
                .left {
                  .button {
                    font-size: 2rem;
                    padding: 30% 15%;
                  }
                }
                .right {
                  font-size: 1rem;
                  .stanpTime_wrapp {
                    height: 60%;
                  }
                }
              }
              .body_approvalbutton_wrapp {
                .approvalbutton {
                  font-size: 2.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .HomePateTmp_wrapp {
    .employee_attend_wrapp {
      display: block;
      height: auto;
      .attendance_operation {
        display: block;
        .left_column {
          display: block;
          height: auto;
          .payd_info_wrapp {
            margin-top: 5%;
            height: 100%;
            .section_box {
              border: #583225 0.5rem solid;
              height: 100%;
              .title {
                font-size: 3em;
              }
              .body {
                height: 20vh;
                .body_content {
                  font-size: 2rem;
                  .top_content {
                    border-top: 0.5rem solid #583225;
                    border-right: 0.5rem solid #583225;
                  }
                  .top_content:last-child {
                    border-right: none;
                  }
                  .under_content {
                    border-right: 0.5rem solid #583225;
                    border-top: 0.5rem solid #583225;
                  }
                  .under_content:last-child {
                    border-right: none;
                  }
                }
              }
            }
          }
          .now_time_info_wrapp {
            margin-top: 5%;
            height: 30vh;
            .time_now {
              .top {
                font-size: 2em;
              }
              .center {
                font-size: 1.8em;
              }
              .under {
                font-size: 2em;
              }
            }
          }
        }
        .right_column {
          margin-top: 5%;
          .attend_stanp_operation {
            height: 50vh;
            border: #583225 0.5rem solid;
            .title {
              display: grid;
              font-size: 3rem;
              border-bottom: 0.3rem solid #583225;
            }
            .body {
              .content {
                border-bottom: #583225 0.5rem solid;
                .left {
                  .button {
                    font-size: 3em;
                    padding: 20% 15%;
                  }
                }
                .right {
                  font-size: 1.2em;
                }
              }
              .body_approvalbutton_wrapp {
                .approvalbutton {
                  font-size: 3em;
                }
              }
            }
          }
        }
      }
    }
  }
}
