.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  .modal_body {
    display: grid;
    grid-template-rows: 75% 25%;
    z-index: 1;
    width: 80%;
    height: 80%;
    background-color: #fbd13d;
    border: #583225 0.5rem solid;
    border-radius: 0.5rem;
    .body_top {
      width: 100%;
      display: grid;
      align-items: center;
      grid-template-columns: 70% 30%;
      .text {
        display: flex;
        text-align: center;
        font-size: 1.3rem;
      }
      .img {
        height: 50%;
      }
    }
    .body_under {
      width: 100%;
      display: grid;
      justify-items: center;
      align-items: start;
      grid-template-columns: repeat(2, 1fr);
      .botton_wrapp {
        width: 70%;
        height: 70%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    .modal_body {
      display: grid;
      grid-template-rows: 75% 25%;
      z-index: 1;
      width: 80%;
      height: 80%;
      background-color: #fbd13d;
      border: #583225 0.5rem solid;
      border-radius: 0.5rem;
      .body_top {
        width: 100%;
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: 100%;
        grid-template-rows: 70% 30%;
        .text {
          width: 90%;
          display: flex;
          text-align: center;
          font-size: 2.5rem;
        }
        .img {
          height: 100%;
        }
      }
      .body_under {
        width: 100%;
        display: grid;
        justify-items: center;
        align-items: start;
        grid-template-columns: repeat(2, 1fr);
        .botton_wrapp {
          width: 70%;
          height: 70%;
        }
      }
    }
  }
}
