.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 15% 85%;
  grid-template-rows: 18% 82%;
  border-radius: clamp(5px, 2vw, 50px);
  border: clamp(2px, 1vw * 0.4, 20px) solid #583225;
  text-align: center;
  overflow: hidden;
  .title {
    display: grid;
    height: 100%;
    width: 100%;
    font-size: 0.6em;
    background-color: #7e262b;
    border-bottom: clamp(0.5px, 0.15vw, 10px) solid #583225;
  }
  .body {
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    border-top: clamp(0.5px, 0.15vw, 10px) solid #583225;

    font-size: 0.7em;
    .shift_time {
      width: 100%;
    }
  }
}

.break_time input[type="time"] {
  padding-inline-start: 0;
  display: block;
  width: 100%;
  overflow: unset;
  padding: 0%;
  background-color: transparent;
  border: none;
  text-align: start;
  font-size: 2em;
  font-weight: bold;
  color: #f9f4fc;
  -webkit-text-stroke: clamp(1.2px, 1vw * 0.1, 10px) #583225;
  &::-webkit-calendar-picker-indicator {
    bottom: 0;
    right: -35%;
    font-size: 0.7em;
    cursor: url("cursol.png"), pointer;
  }
}
