.label {
  position: relative;
  font-family: Meiryo;
  font-style: normal;
  font-size: 1em;
  font-weight: bold;
  color: #f9f4fc;

  -webkit-text-stroke: 0.3rem #583225;
  cursor: url("../../../../public/cursol.png"), pointer;
}
