.label {
  position: relative;
  font-family: Meiryo;
  font-style: normal;
  font-size: 1.2em;
  font-weight: bold;
  color: #f9f4fc;

  -webkit-text-stroke: 0.3rem #583225;
  cursor: url("cursol.png"), pointer;
}

@media screen and (max-width: 1279px) {
  .label {
    -webkit-text-stroke: 0.15rem #583225;
  }
}

@media screen and (max-width: 767px) {
  .label {
    -webkit-text-stroke: 0.1rem #583225;
  }
}

@media screen and (max-width: 400px) {
  .label {
    -webkit-text-stroke: 0.07rem #583225;
  }
}
