.wrapper {
  display: block;
  height: 100%;
  border-radius: clamp(5px, 2vw, 50px);
  border: clamp(2px, 1vw * 0.4, 20px) solid #583225;
  text-align: center;
  overflow: hidden;
  .title {
    width: 100%;
    background-color: #7e262b;
    border-bottom: clamp(0.5px, 0.15vw, 10px) solid #583225;
    font-size: 0.8em;
  }
  .body {
    display: grid;
    align-content: center;
    justify-items: center;
    height: 80%;
    width: 100%;
    border-top: clamp(0.5px, 0.15vw, 10px) solid #583225;
    font-size: 1.2em;
  }
}
