.RegistarPageTmp-wrapp {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbd13d;
  .H2_Ver1-wrapp {
    font-size: 2rem;
    margin: 10% 0;
  }
  .RegistarInputSection-wrapp {
    width: 70%;
    font-size: 1.5rem;
  }
  .Button-wrapp {
    width: 50%;
    font-size: 1.5rem;
    margin: 10% 0;
  }
}
