input {
  height: 100%;
  width: 100%;
  padding: 1% 3%;
  background-color: #d04f2f;
  border-radius: 50px;
  border: 5px solid #583225;
  cursor: url("../../../../public/cursol.png"), pointer;

  color: #faf9a6;
  font-size: 2rem;
  font-family: Meiryo;
  font-style: normal;
  font-weight: 700;
  &::placeholder {
    color: #faf9a6;
  }
}

.radio-button {
  display: none;
}

.radio-label {
  position: relative;
  height: 70%;
  padding: 1% 3%;

  font-family: Meiryo;
  font-size: 2rem;
  font-style: normal;
  font-weight: bold;
  cursor: url("../../../../public/cursol.png"), pointer;

  margin-right: 5%;
  text-align: center;
  border-radius: 50px;
  border: #583225 5px solid;
  -webkit-text-stroke: 6px #583225;

  .radio-span {
    color: #faf9a6;
    -webkit-text-stroke: 0;
    position: absolute;
  }
}
.radio-button:checked + label {
  background-color: #d04f2f;
}
