.button {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1% 3%;

  background-color: #faf9a6;
  border: #583225 5px solid;
  border-radius: 50px;

  font-family: Meiryo;
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.15625rem;
  -webkit-text-stroke: 6px #583225;
  cursor: url("../../../../public/cursol.png"), pointer;

  &:hover {
    background-color: #d04f2f;
  }
  .futidori {
    -webkit-text-stroke: 0;
    position: absolute;
    color: #fbd13d;
  }
}
