.img_component {
  max-width: 100%;
  max-height: 100%;
}
.login_user {
  position: absolute;
  bottom: 0;
}
.now_time {
  position: absolute;
  right: 1.5%;
  bottom: 0;
  z-index: 1;
}
.modalButton_anime {
  animation: buttonAnime 3s linear infinite;
}
@keyframes buttonAnime {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 1000px) {
  .now_time {
    position: relative;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}
