* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  resize: none;
}

html {
  font-size: clamp(16px, 1vw + 16px, 36px);
  background-color: #fbd13d;
}

.sb-show-main.sb-main-padded {
  padding: 0;
}
#storybook-root {
  width: 100vw;
}
