.wrapper {
  display: block;
  border-radius: clamp(5px, 2vw, 50px);
  border: clamp(2px, 0.4vw, 20px) solid #583225;
  text-align: center;
  overflow: hidden;

  .title {
    width: 100%;
    background-color: #7e262b;
    border-bottom: clamp(0.5px, 0.15vw, 10px) solid #583225;
  }
  .body {
    display: grid;
    justify-content: space-between;
    padding: 3% 2%;
    grid-template-columns: repeat(3, 32%);
  }
}

@media screen and (max-width: 1200px) {
  .wrapper {
    margin: 5% 0;
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    margin: 5% 0;
    .title {
      font-size: 1.1em;
    }
    .body {
      font-size: 1.5em;
      align-content: space-between;

      padding: 5% 15%;
      grid-template-columns: 100%;
      grid-template-rows: repeat(3, 26%);
    }
  }
}

@media screen and (max-width: 400px) {
  .wrapper {
    .title {
      font-size: 0.9em;
    }
    .body {
      font-size: 1.5em;
    }
  }
}
@media screen and (max-width: 300px) {
  .wrapper {
    .title {
      font-size: 0.6em;
    }
    .body {
      font-size: 1em;
    }
  }
}
