.LoginPageTmp-wrapp {
  display: flex;
  width: 100%;
  height: 100vh;
  .LoginPageTmp-L-colum {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    background-color: #fbd13d;
    .login-form-wrapp {
      width: 80%;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .error-text-wrapp {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10%;
        font-size: 2rem;
      }
      .login-form-input {
        width: 100%;
        height: 18%;
        font-size: 1.5rem;
        margin-bottom: 5%;
      }
      .login-form-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10%;
        font-size: 1.5rem;
      }
      .login-form-button {
        width: 60%;
        height: 17%;
        padding: 3% 0;
        font-size: 1.5rem;
      }
    }
  }
  .LoginPageTmp-R-colum {
    width: 45%;
    height: 100%;
    background-image: url("../../../../public/RCaramBg.png");
    background-size: cover;
    background-position: center;
  }
}
